<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-DDD-HH:mm:ss} %-5p %m [%c]%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.strongblackcoffee.mandelbrot.ColorEditor" additivity="false" level="debug"><AppenderRef ref="Console"/></Logger>
    <Logger name="com.strongblackcoffee.mandelbrot.ColorProvider" additivity="false" level="debug"><AppenderRef ref="Console"/></Logger>
    <Logger name="com.strongblackcoffee.mandelbrot.Mandelbrot" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="com.strongblackcoffee.mandelbrot.MandelbrotPane" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="com.strongblackcoffee.mandelbrot.MandelbrotSet" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="com.strongblackcoffee.mandelbrot.MandelbrotStatisticsPanel" additivity="false" level="debug"><AppenderRef ref="Console"/></Logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
