<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-DDD-HH:mm:ss} %-5p %m [%c]%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="ColorEditor" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="Mandelbrot" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MandelbrotPane" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MandelbrotSet" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MandelbrotStatisticsPanel" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MJCalcDouble" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MJCalcFactory" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Logger name="MJSet" additivity="false" level="info"><AppenderRef ref="Console"/></Logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
